*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    width: 100vw;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
body{
    font-family: PT Sans;
}
a > i{
    color: white;
}
a{
    text-decoration: none;
}
.container{
    max-width: 85%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.card{
    background-color: #b5ddff;
    border-radius: 25px;
    margin-top: 20px;
    padding: 30px 30px 0px;
    font-weight: bold;
}
p{
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 27px;
    color: #5a6e7f
}
.card img, .col-plan img{
    width: 100%;
    display: block;
    margin-top: 30px;
}

.card h2{
    color: #0084fd;  
}
.card a{
    color: white;
    text-decoration: none;
    background-color: #0084fd;
        padding: 10px 40px 10px 40px;
    border-radius: 30px;
    letter-spacing: .3rem;
}
a > i{
    padding-right: 5px;
}
.small{
    text-align: center;
}
.small i{
    margin-bottom: 20px;
    color: #0084fd;
}
.planning{
    background-color: #9593e6;
}
.col-plan{
    width: 100%;
}
.col-plan h1{
    color: white;
    font-size: 2rem;
    margin-top: 40px;
}
.col-plan p {
    color: white;
}
.dev{
    background-color: white;
    text-align: center;
    margin-bottom: 40px;
}
.dev p, .dev h2{
    color: black;
}
.dev p{
    font-style: italic;
    font-weight: 500;
}
.btn-down a{
    background-color: #9593e6;
    padding: 15px;
    border-radius: 50%;
}
.btn-down{
    padding-bottom: 40px;
}

.btn-down a i{
color: #111111;
padding: 0;
padding-left: 4px;
}
.testimonials{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80PX;
}
.testimonials h1{
    color: #9593e6;
    padding-top: 20px;
}
.testimonials p{
    color: black;
}
.member-text  p{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}
.team{
    background-color: #9593e6;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:start;
}

.circle{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
#member-nat{
    background-image: url(img/testimonial1.jpg);
}
#member-celia{
    background-image: url(img/testimonial2.jpg);
}
#member-bob{
    background-image: url(img/testimonial3.jpg);
}

.member-text i{
    padding-left: 5px;
    padding-right: 5px;
}
.member-text h2{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.benefits{
    background-color: white;
}
.benefits h2{
    color: #9593e6;
    padding-top: 20px;
}
.benefits p{
    font-weight: 400;
}
.benefits h1{
    font-size: 3rem;
    color: #9593e6;
}
.more a{
    border-radius: 40px;
    padding: 10px 50px
}
.ben > h1{
    text-align: center;
    padding: 20px 0px;
    color: white;
}
.ben{
    padding-bottom: 60px;
}
.about-us h1{
    padding-top: 40px;
    color: #9593e6;
    font-size: 3rem;
}
.about-us p{
    color: black;
    font-size: 1.3rem;
    line-height: 2.5rem;
}
#member{
    background-image: url(img/about.jpg);
    margin-top: 60px;
}
.quotation{
    font-size: 14rem;
    position: absolute;
    color: #9593e6;
    right: 35%;  
}
.about-us h2{
    font-size: 2rem;
    color:#9593e6;
    padding-top: 20px;
}
.linkedin a{
    color: white;
    border-radius: 30px;
    padding: 7px 13px;
}
.linkedin{
    margin-top: 20px;
}
.linkedin a i{
    color: white;
    padding-right: 5px;
}